.fileUploadContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    margin-top: 4.5rem;
}

.currWorkDirectContainer {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    padding: 0.5rem;
    background-color: #EFEFF0;
    border-radius: 1rem;
}

.dirContainer { 
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 1rem;
    background-color: #EFEFF0;
    border-radius: 1rem;
}

.arrowButtonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.contentContainer {
    background-color: #DEDCFF;
    padding: 1.5rem;
    border-radius: 2rem;
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.text1 {
    @apply font-mono font-extrabold text-2xl
}

.text2 {
    @apply font-mono 
}
