.processDetailContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    margin-top: 4.5rem;
}

.contentContainer {
    background-color: #DEDCFF;
    padding: 1.5rem;
    border-radius: 2rem;
}

.columnContainer {
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 1rem;
    background-color: #EFEFF0;
    border-radius: 1rem;
}

.subColumnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stepContainer {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 0.5rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    background-color: #EFEFF0;
    border-radius: 1rem; 
}

.label {
    margin-left: 50rem;
}

.text1 {
    @apply font-mono font-extrabold text-2xl
}